*{
    background-color: bisque;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    font-size: 2rem;
    line-height: 100px;
}
.turn, .result {
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 2rem;
}
.hidden{
    display: none;
}